/* Om en undersida behöver egen CSS (som endast gäller den) kan du ha den i en skild fil */
body {
    background-color: teal; /* Bara för att testa, ÄNDRA eller ta bort! */
}
#spela{
    margin-left: 3.5vw;
    margin-top: -1.5vw;
}
#vale{
    
    font-size:large;
    margin-left: 2vw ;
}

#game{
    display:flex;
    height: 3vw;
    
}
#börjar{
    height: 2vw;
    width: 4vw;
    margin-top: 1vw;
    margin-left: 2.5vw;
}
#house{
    margin-left: 5vw;
    padding-top: 0;
    
}
#placeholder{
    margin-top: -1vw;
    height: 4vw;
    width: 7vw;
}
h3{
    margin-top: 0;
}
#resultat{
    margin-left: 2vw;
    margin-top: 2vw;
}

